.mama{
text-align: right;
  font-size: 60px;
  color:#000000;


}
#iog {

  width:1300px;
  height :300px ;

}
.page{
text-align: right;
  font-size: 60px;
  color:#66c2ff;

}
.imogi{
 width:200px;
  height :150px ;
border-color:#ffffff ;
text-align: right;
}
.color{
background-color:#000000;
}